@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";


:root {
    font-family: Inter, sans-serif;
    font-weight: 400;

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: rgb(3, 82, 32);
    background-color: #F3F3F3;
}

.shadow-fancy {
    box-shadow: 0px 0.839802px 0.671842px -0.3125px rgba(99, 99, 99, 0.04),
    0px 1.99048px 1.59238px -0.625px rgba(99, 99, 99, 0.04),
    0px 3.63084px 2.90467px -0.9375px rgba(99, 99, 99, 0.04),
    0px 6.03627px 4.82901px -1.25px rgba(99, 99, 99, 0.04),
    0px 9.74808px 7.79846px -1.5625px rgba(99, 99, 99, 0.04),
    0px 15.9566px 12.7653px -1.875px rgba(99, 99, 99, 0.04),
    0px 27.4762px 21.981px -2.1875px rgba(99, 99, 99, 0.04),
    0px 50px 40px -2.5px rgba(99, 99, 99, 0.04);
}

.shadow-fancy-two {
    box-shadow: 0px 0.839802px 0.671842px -0.3125px rgba(99, 99, 99, 0.04),
    0px 1.99048px 1.59238px -0.625px rgba(99, 99, 99, 0.04),
    0px 3.63084px 2.90467px -0.9375px rgba(99, 99, 99, 0.04),
    0px 6.03627px 4.82901px -1.25px rgba(99, 99, 99, 0.04),
    0px 9.74808px 7.79846px -1.5625px rgba(99, 99, 99, 0.04),
    0px 15.9566px 12.7653px -1.875px rgba(99, 99, 99, 0.04),
    0px 27.4762px 21.981px -2.1875px rgba(99, 99, 99, 0.04),
    0px 50px 40px -2.5px rgba(99, 99, 99, 0.04);
}

.shadow-button {
    box-shadow: rgba(255, 255, 255, 0.16) 0px 0px 20px 0px inset,
    rgba(4, 43, 14, 0.11) 0px 0.839802px 0.503881px -0.3125px,
    rgba(4, 43, 14, 0.11) 0px 1.99048px 1.19429px -0.625px,
    rgba(4, 43, 14, 0.11) 0px 3.63084px 2.1785px -0.9375px,
    rgba(4, 43, 14, 0.11) 0px 6.03627px 3.62176px -1.25px,
    rgba(4, 43, 14, 0.11) 0px 9.74808px 5.84885px -1.5625px,
    rgba(4, 43, 14, 0.11) 0px 15.9566px 9.57398px -1.875px,
    rgba(4, 43, 14, 0.11) 0px 27.4762px 16.4857px -2.1875px,
    rgba(4, 43, 14, 0.11) 0px 50px 30px -2.5px;
}

.shadow-soft {
    box-shadow: rgba(173, 173, 173, 0.13) 0px 0.839802px 0.503881px -0.3125px,
    rgba(173, 173, 173, 0.13) 0px 1.99048px 1.19429px -0.625px,
    rgba(173, 173, 173, 0.13) 0px 3.63084px 2.1785px -0.9375px,
    rgba(173, 173, 173, 0.13) 0px 6.03627px 3.62176px -1.25px,
    rgba(173, 173, 173, 0.13) 0px 9.74808px 5.84885px -1.5625px,
    rgba(173, 173, 173, 0.13) 0px 15.9566px 9.57398px -1.875px,
    rgba(173, 173, 173, 0.13) 0px 27.4762px 16.4857px -2.1875px,
    rgba(173, 173, 173, 0.13) 0px 50px 30px -2.5px;
}

.subheading-icon {
    @apply text-white text-[18px] rounded-full bg-[#003905] p-1.5;
    box-shadow: rgba(255, 255, 255, 0.16) 0px 0px 20px 0px inset,
    rgba(4, 43, 14, 0.11) 0px 0.839802px 0.503881px -0.3125px,
    rgba(4, 43, 14, 0.11) 0px 1.99048px 1.19429px -0.625px,
    rgba(4, 43, 14, 0.11) 0px 3.63084px 2.1785px -0.9375px,
    rgba(4, 43, 14, 0.11) 0px 6.03627px 3.62176px -1.25px,
    rgba(4, 43, 14, 0.11) 0px 9.74808px 5.84885px -1.5625px,
    rgba(4, 43, 14, 0.11) 0px 15.9566px 9.57398px -1.875px,
    rgba(4, 43, 14, 0.11) 0px 27.4762px 16.4857px -2.1875px,
    rgba(4, 43, 14, 0.11) 0px 50px 30px -2.5px;
}

@media (min-width: 1280px) {
    .alternate-grid > div:nth-child(even) {
        direction: rtl;
        text-align: left;
    }

    .alternate-grid > div:nth-child(even) > div {
        direction: ltr;
    }
}

@media (min-width: 1200px) {
    .shadow-fancy {
        box-shadow: none;
    }
}

@theme {
    --breakpoint-xsm: 400px;
    --breakpoint-xs: 460px;
    --breakpoint-2xs: 600px;
    --breakpoint-sm: 640px;
    --breakpoint-2md: 700px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 900px;
    --breakpoint-2lg: 1024px;
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: 1280px;
    --breakpoint-3xl: 1340px;
}

